#documentation {
  .container {
    section {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        color: #01051b;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 4rem;
      }
      ul.documentation {
        list-style-type: none;
        li {
          a {
            display: flex;
            align-items: center;
            width: 30rem;
            padding: 1.6rem 1rem;
            text-decoration: none;
            color: #054da5;
            transition: all 150ms ease-in-out;

            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
            .document-name {
              flex-grow: 1;
              font-size: 1.4rem;
              font-weight: 500;
            }
            i {
              &:first-of-type {
                margin-right: 1.5rem;
                font-size: 1.8rem;
              }
            }
          }
        }
      }
    }
  }
}
