.container .inner-wrap {
  max-width: 30rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  justify-content: space-between;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5rem;
    .logo {
      font-size: 4rem;
      margin-bottom: 2.5rem;
    }
    .sub-header {
      font-size: 1.8rem;

      font-weight: 300;
    }
  }
  main {
    width: 100%;
    margin-bottom: 5rem;
    nav {
      width: 100%;
      margin-bottom: 2.5rem;

      h2 {
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
      }
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        a {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          padding: 1rem 0;
          width: 100%;
          border-bottom: 1px solid #4b5177;
          text-decoration: none;
          color: white;
          font-weight: 300;
          transition: all 150ms ease-in-out;

          &.active {
            border-bottom: 2px solid #62aeff;

            font-weight: 500;
            color: #62aeff;
          }

          &:not(.active):hover {
            opacity: 0.6;
          }
        }
      }
    }
    form {
      .form-group {
        small {
          opacity: 0.6;
          margin-bottom: 1rem;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: 100%;
          height: 4rem;
          border: 1px solid rgba(1, 5, 27, 0.27);
          border-radius: 4px;
          background-color: #ffffff;

          &:focus {
            box-shadow: inset 0 1px 3px 0 rgba(1, 5, 27, 0.07);
          }
          &:invalid {
            // background-color: rgb(250, 193, 193);
          }
        }
      }
      button[type="submit"] {
        cursor: pointer;
        width: 100%;
        height: 4rem;
        border-radius: 4px;
        border: none;
        background-color: #62aeff;
        box-shadow: 0 1px 3px 0 rgba(1, 5, 27, 0.27);

        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4.5rem;
      }
      .bottom-field {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: underline;
          color: #62aeff;
          font-size: 14px;
        }
      }
    }
    .select-register-mode {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;

      input {
        display: none;

        & + label {
          display: flex;
          align-items: center;
          cursor: pointer;

          .radio-mark {
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 100%;
            background-color: white;
            margin-right: 1rem;
            position: relative;
            transition: all 150ms ease-in-out;

            &:after {
              content: "";
              display: block;
              position: absolute;
              height: 7px;
              width: 7px;
              border-radius: 100%;
              background-color: white;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        &:checked + label {
          .radio-mark {
            background-color: #3b99fc;
            border: 1px solid rgba(1, 5, 27, 0.07);
          }
        }
      }
    }
  }
  .form-select-group {
    width: 30rem;
    overflow: hidden;
    &-inner {
      display: flex;
      transition: all 500ms cubic-bezier(1, 0.01, 0, 1);
      form {
        min-width: 30rem;

        &:nth-of-type(1) {
          margin-right: 5rem !important;
        }
      }
    }
  }

  footer {
    opacity: 0.87;
    color: #ffffff;
  }
}
